.profilepic{
    color: black;
    font-weight: bold;
    opacity: 1.2;
    text-align:justify;
    margin-top: 5px;
}
.container-body{
    border-radius: 50px;
    background-color: rgb(236, 243, 135);
    opacity: 0.9;
    background-image: url(../../../assets/img5.jpg);    
}
