* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
/* 
  h1{
      text-align: center;
      
  }
  p{
      text-align: center;
  }
   */

   .jumbotron {
    text-align: center;
    background-color: greenyellow;
    opacity: 1.0;
    margin: 10px;
    border-radius: 90px;
  }

h2 {
    font-size: 38px;
  }
  
  
  
  body {
    /* background-color: darkgray; */
    background-position: center;
    background-attachment: fixed;
  }

  p {
    font-size: 8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  .container{
    opacity: 1.0;
  }
  #footer>p{
      border-radius: 10px;
      /* margin: auto; */
    font-size: 10px;
    color: rgb(236, 158, 12);
    background-color: rgb(1, 12, 12);
  }